name: Deploy backend with Docker
on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ PASSWORD }}

      - name: Build and push to Docker Image
      - uses: docker/build-push-action@v5
      - with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tag: ${{ secrets.DOCKER_USERNAME}}/sketch-backend:${{ github.sha .}}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ }}
